/* Carrusel */

#carrusel {
    float:left;
    position: center;
    width:500px;
    overflow:hidden;
    height:503px;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
}
 
#carrusel .left-arrow {
    position:absolute;
    left:10px;
    z-index:1;
    top:30%;
    margin-top:-9px;
    opacity: .5;
}
 
#carrusel .right-arrow {
    position:absolute;
    right:10px;
    z-index:1;
    top:30%;
    margin-top:-9px;
    opacity: .5
}
 
.carrusel {
    width:4000px;
    left:0px;
    position:absolute;
    z-index:0;
}
 
.carrusel>div {
    float: left;
    height: 503px;
    margin-right: 5px;
    width: 505px;
    text-align:center;
}
 
.carrusel img {
    cursor:pointer;
}
 
.product {
    border:#CCCCCC 1px solid;
}